body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background: rgb(177, 177, 177);

}
.pole {
    margin: 0 auto;
    width: 320px;
    height: 320px;
    /*border: 1px solid #e94a54;*/
    border: 1px solid rgb(80, 184, 39);

    border-radius: 10px;
    position: relative;
   background: rgb(129, 201, 129);
}
.menu {
    align-items: center;
    display: flex;
    justify-content: center;
}
/*
@media (max-width: 400px) {
    .pole {
        width: 200px;
        height: 200px;
    }
}*/

.kletka {
    /*width: 80px;*/
    /*height: 80px;*/
    border-radius: 10px;
    border: 1px solid #20252A;
   background: rgba(255, 255, 255, 0.5);
    /*background: #fbbe18;*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 32px;
    transition: all 0.2s;
    cursor: pointer;
}
.kletka:hover {
    border: 4px solid rgb(80, 184, 39);
    /*border: 4px solid #20252A;*/
}
.kletka:active {
    border: 5px solid rgb(255, 255, 255);
}
/*
@media (max-width: 400px) {
    .kletka {
        width: 50px;
        height: 50px;
    }
}*/
.qwert {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mem {
    display: none;
}
button {
    border-radius: 10px;
  background-color: #20252a;
  color: rgb(129, 201, 129);
  border: 3px solid rgb(80, 184, 39);
  margin: 20px 0px;
  
}
button:hover {
    /*border: 3px solid #e94a54;*/
    border: 3px solid rgb(95, 224, 44);

    transition: all 0.2s;
    cursor: pointer;
}
.select {
    height: 23px;
    display: flex;
    justify-content: center;
    background-color: #20252a;
    color: rgb(129, 201, 129);
    border: 3px solid rgb(80, 184, 39);
    border-radius: 10px;
    text-align-last: center;
}
.option {
    text-align: center;
}
.menub {
    width: 100%;
}
.hide {
    display: none;
}


  .dropzona {
    border-radius: 10px;
    position: absolute;
    box-sizing: border-box;
    font-size: 0px;
}
#hour,#mins,#secs {display: inline-block; border-left: 1px solid #123; padding: 1px 5px;}
